%html
  %head
    %title
      *experimental* rubygems-openpgp Certificate Authority
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.header
      %div.project_title rubygems-openpgp Certificate Authority

      %ul.menu
        %li
          %a{:href => root_url}
            Home
        %li
          %a{:href => authentication_url}
            Authentication
        %li
          %a{:href => key_security_url}
            Key Security

        %li
          %a{:href => contact_url}
            Contact

        %li
          - if current_user
            - if current_user.admin?
              %a{:href => "/admin/pending_applications"} Pending Applications
            - else
              %a{:href => "/user/status"} Application Status
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
          - else
            %a{:href => "javascript:alert('Not Accepting Applications.  How did you even find us?');"} Apply Now!
 

    %p.notice= notice
    %p.alert= alert
     
    = yield
