%html
  %head
    %title
      rubygems-openpgp Certificate Authority
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{:href => "/blog/atom.xml", :type=> "application/atom+xml", :rel => "alternate", :title => "Sitewide ATOM Feed"}
  %body

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38732430-1']);
      _gaq.push(['_setDomainName', 'rubygems-openpgp-ca.org']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();


    %div.header
      %div.project_title rubygems-openpgp Certificate Authority

      %ul.menu
        %li
          %a{:href => root_url}
            Home

        %li
          Guides
          %ul
            %li
              %a{:href =>'/blog/the-complete-guide-to-verifying-gems-with-rubygems-openpgp.html'}
                The Complete Guide to Verifying Gems
            %li
              %a{:href =>'/blog/the-complete-guide-to-signing-the-certificate-authority-keys.html'}
                The Complete Guide to Signing the Certificate Authority Keys
            %li
              %a{:href =>'/blog/the-complete-guide-to-signing-your-gems.html'}
                The Complete Guide to Signing Your Gems

            %li
              %a{:href => '/blog/the-complete-guide-to-verifying-your-initial-install.html'}
                The Complete Guide to Verifying Your Initial Install

        %li
          Policies
          %ul
            %li
              %a{:href => "/blog/authentication.html"}
                Gem Developer Authentication
            %li
              %a{:href => "/blog/signing-key-security.html"}
                Signing Key Security
            %li
              %a{:href => "/blog/signing-keys.html"}
                Signing Keys

        %li
          Info
          %ul
            %li
              %a{:href => "/blog"}
                Blog
            %li
              %a{:href => "/blog/releases.html"}
                Release Announcements
            %li
              %a{:href => "/blog/gems-signed-with-rubygems-openpgp.html"}
                Signed Gems
            %li
              %a{:href => "/blog/signing-specification.html"}
                Signing Specification

        %li
          %a{:href => "/blog/contact.html"}
            Contact

        %li
          - if current_user
            - if current_user.admin?
              %a{:href => "/admin/pending_applications"} Pending Applications
            - else
              %a{:href => "/user/status"} Application Status
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
          - else
            %a{:href => new_user_registration_path} Apply Now!
 

    %p.notice= notice
    %p.alert= alert
     
    = yield
