%html
  %head
    %title
      *experimental* rubygems-openpgp Certificate Authority
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %div.header
      %h1 rubygems-openpgp Certificate Authority

      %ul.menu
        %li
          %a{:href => "/"}
            Home
        %li
          %a{:href => "/users"}
            For Users
        %li
          %a{:href => "/developers"}
            For Developers
        %li
          %a{:href => "/security"}
            Security and Signing Procedure

        %li
          - if current_user
            %a{:href => "/user/status"} Application Status
            = link_to "Sign Out", destroy_user_session_path, :method => :delete
          - else
            %a{:href => "/users/sign_up"} Apply Now!
 

    %p.notice= notice
    %p.alert= alert
     
    = yield
