<h2>Apply for certification</h2>

<p><b>Note:</b> Only gem developers should apply.  If you are a gem
user, you can simply install the signing keys locally to take
advantage of certifcations.</p>

<p>The goal of this project is to certify the keys of active gem
  developers.  As such, the following requirements must be met:</p>

<ul>
  <li>You must have a valid email address.</li>
  <li>You must have a publically accessible OpenPGP key for your
  email address.</li>
  <li>You must have a rubygems.org profile that:
    <ul>
      <li>Has at least one non-trivial non-boilerplate gem.  (No hola
    gem.)</li>
      </ul>
  <li>You must demonstrate you are authorized to publish to the
  rubygems.org profile by either:
    <ul>
      <li>Using the same email as your rubygems.org profile to register.</li>
      <li>Publishing a signed gem in advance signed by your key.</li>
    </ul></ul>
  </li>
</ul>

<p>Operators of the site reserve the right to reject applications for
  any reason.</p>

<p><a href='/blog/authentication.html'>Read more about our authentication policy.</p>

<p>Apply Now:</p>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :rubygems_profile_page %><br />
  <%= f.text_field :rubygems_profile_page, :value => "https://rubygems.org/profiles/"  %></div>

  <div><%= f.label :openpgp_key %> (Short format: 0x00C0FFEE)<br />
  <%= f.text_field :openpgp_key %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Apply" %></div>
<% end %>

<%= render "devise/shared/links" %>
